.header,.frame,.sidebar{
  display: block;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  transition: top .5s,width .5s,height .5s;
}
.header{
  top:0;left:0;
  width: 100vw;
  height: 40px;
  border-bottom: solid 1px grey;
}
.app.open .frame{
  top:40px;left:0;
  width: calc(100vw - 300px);
  height: calc(100vh - 40px);
}
.app.open .sidebar{
  top:40px;right:0;
  width: 300px;
  height: calc(100vh - 40px);
  border-left: solid 1px grey;
}
.app:not(.open) .frame{
  top:40px;left:0;
  width: 100vw;
  height: calc(100vh - 40px);
}
.app:not(.open) .sidebar{
  top:40px;right:0;
  width: 0px;
  height: calc(100vh - 40px);
}
