.editor-container{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: min-content auto;
  grid-template-areas: "header header" "frame sidebar";
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
@media only screen and (max-width:1000px) {
  .editor-container{
    grid-template-columns: 100%;
    grid-template-rows: min-content 135px auto;
    grid-template-areas: "header" "sidebar" "frame";
  }
}
.editor-element{
  display: block;
  position: relative;
  overflow: hidden;
}
.editor-container .header{
  grid-area: header;
  background: rgb(30,30,30);
}
.editor-container .sidebar{
  background: rgb(40,40,40);
  color: #af8d8d;
  overflow-y: auto;
  grid-area: sidebar;
}
.editor-container .frame{
  grid-area: frame;
}
/* width */
.editor-container .sidebar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50,50,50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70,70,70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
