.tester-box{
  top: 0; left: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
}
.tester-box .header{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}
.tester-box .tester-grid{
  display: flex;
}
.tester-box .tester-screen{
  flex-grow: 1;
  height: 100vh
}
.tester-box .tester-sidebar{
  width: 360px;
  background: rgb(40,40,40);
  height: 100vh;
}
@media only screen and (max-width: 1000px) {
  .tester-box .tester-sidebar{
    width: 0;
  }
}
